
  <launch>
  <arg name="model" default="myrobot"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <!-- <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_stage_1.world"/>
    <!-- <arg name="world_name" value="$(find myrobot)/worlds/turtlebot3_world.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find myrobot)/models/myroboturdf/$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <!-- <node pkg="myrobot" name="realsense" type="slam_gmapping.py" output="screen"/> -->
  <!-- <node pkg="myrobot" name="force" type="force.py" output="screen"/> --> -->
  <!-- <node name="image_view1" pkg="image_view" type="image_view" respawn="false" output="log">
  <remap from="image" to="/camera/color/image_raw" />
  </node> -->
  
 
</launch>